.faq {
  background-color: var(--color-2);

  &__hero {
    padding: var(--spacer) var(--gutter) var(--spacer-sm);
    text-align: center;
    position: relative;

    @media screen and (max-width: $breakpoint-mobile) {
      padding-top: calc(var(--spacer-lg) * 1.5);
    }
  }

  &__container {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-mobile) {
      margin-top: var(--spacer-sm);
      padding: var(--spacer-sm) 0;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: var(--gutter) 0;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background: var(--color-dark);
        top: 0;
        width: 100%;
        margin: auto;
        transition: width 2s 0.7s var(--ease-in-out);

        body.loading & {
          width: 0;
        }
      }
      &:nth-child(1) {
        position: sticky;
        top: 0rem;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        align-items: flex-start;
        width: 100%;
        &::before {
          right: 0;
        }
        @media screen and (max-width: $breakpoint-mobile) {
          display: none;
        }
        .inner {
          display: flex;
          flex-direction: column;
        }
        a {
          transition: opacity var(--transition-duration-ease-in-out);
          padding: 0.7rem 1rem;
          border-radius: var(--border-radius);
          display: inline-flex;
          opacity: 0.4;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          &.active,
          &:hover {
            opacity: 1;
          }
        }
      }
      &:nth-child(2) {
        width: 57%;
        flex-shrink: 0;
        &::before {
          left: 0;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          background: var(--color-dark);
          top: 0;
          left: 0;
          height: 100%;
          margin: auto;
          transition: height 4s 0.7s var(--ease-in-out);

          body.loading & {
            height: 0;
          }
        }
        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
          border-left: none;
        }
        .q-group {
          &:not(:last-child) {
            padding-bottom: 8rem;
            @media screen and (max-width: $breakpoint-mobile) {
              padding-bottom: 4rem;
            }
          }
          h3 {
            margin-bottom: 1rem;
            color: var(--color-1);
            padding: 0 2rem;
          }
          .inner {
            border-bottom: 1px solid var(--color-dark);
            position: relative;
            transition: color var(--transition-duration-ease-in-out);

            &::before,
            &:after {
              content: "";
              position: absolute;
              top: calc(0.4em + 1rem);
              right: 2rem;
              width: 15px;
              height: 1px;
              background: var(--color-dark);
              font-size: clamp(22px, 1.25vw, 24px);
              transition: all var(--transition-duration-ease-in-out);
            }

            &:after {
              transform: rotate(90deg);
            }
            &:first-of-type {
              border-top: 1px solid var(--color-dark);
            }

            h4 {
              cursor: pointer;
              padding: 1rem 4rem 1rem 2rem;
              @media screen and (max-width: $breakpoint-mobile) {
                padding: 1rem 4rem 1rem 1rem;
              }
            }

            .answer {
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.2s var(--transition-duration-ease-in-out);
              line-height: 1.4;
              .wrapper {
                padding: 0 2rem 1rem;
                opacity: 0;
                transition: opacity 0.2s 0s ease-in-out;
                overflow: auto;
                ul {
                  padding-left: 1em;
                  li {
                    list-style: initial;
                    &:not(:last-child) {
                      margin-bottom: 0.5rem;
                    }
                  }
                }

                > * {
                  &:not(:last-child) {
                    margin-bottom: 1em;
                  }
                }

                a {
                  text-decoration: underline;
                }
              }
            }

            &.active {
              // color: var(--color-4);

              &::before,
              &::after {
                // background: var(--color-4);
              }

              &:after {
                opacity: 0;
              }
              .answer {
                max-height: 1200px;
                transition: max-height 0.2s 0s ease-in-out;
                .wrapper {
                  opacity: 1;
                  transition: opacity 0.2s
                    var(--transition-duration-ease-in-out);
                }
              }
            }

            &:hover {
              // color: var(--color-4);
            }
          }
        }
      }
    }
  }
}
