.footer {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  background-color: var(--color-dark);
  color: var(--color-light);
  &__top {
    position: relative;
  }
  &__image {
    &:nth-child(1) {
      margin-left: auto;
      max-width: 30%;

      @media screen and (max-width: $breakpoint-mobile) {
        margin-bottom: calc(var(--gutter-lg) * 3);
        max-width: 55%;
      }
    }
    &:nth-child(2) {
      max-width: 30%;
      @media screen and (max-width: $breakpoint-mobile) {
        max-width: 40%;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__pre-tite {
    margin-bottom: 1rem;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--color-light);

    @media screen and (max-width: $breakpoint-mobile) {
      padding: 1rem;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    > * {
      align-self: center;
    }
    > ul {
      display: flex;
      align-items: center;
      list-style: none;
      @media screen and (max-width: $breakpoint-mobile) {
        justify-content: center;
      }
      li {
        &:not(:last-child) {
          margin-right: 1rem;
          padding-right: 1rem;
          border-right: 1px solid var(--color-light);
        }
      }
    }
    > a {
      justify-self: center;
      @media screen and (max-width: $breakpoint-mobile) {
        order: -1;
      }
    }
    > p {
      justify-self: end;
      font-size: 12px;
      @media screen and (max-width: $breakpoint-mobile) {
        justify-self: center;
      }
    }
  }
}
