$nav-height: 55px;

html {
  scroll-padding-top: 120px;
}

body {
  font-family: var(--font-1);
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-light);
  color: var(--color-dark);
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-light);
    }
  }
}

h1,
.text__size-1 {
  font-size: var(--font-size-1);
  font-weight: 450;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: -0.08em;
  text-wrap: balance;
}

h2,
.text__size-2 {
  font-size: var(--font-size-2);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.15em;
  text-wrap: balance;
}

h3,
.text__size-3 {
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

h4,
.text__size-4 {
  font-size: var(--font-size-4);
  font-weight: 450;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

p {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  li {
    &::marker {
      color: currentColor;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

.button {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.7rem 2rem;
  transition: padding var(--transition-duration-ease-in-out);
  border-radius: var(--border-radius);
  line-height: 1;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0.5rem 1rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);

    transition: border-radius var(--transition-duration-ease-in-out),
      width var(--transition-duration-ease-in-out),
      height var(--transition-duration-ease-in-out);
  }

  span {
    position: relative;
    z-index: 1;
  }
  &--primary {
    color: var(--color-light);

    &::before {
      background-color: var(--color-4);
    }
  }

  &--secondary {
    color: var(--color-dark);

    &::before {
      background-color: var(--color-light);
    }
  }

  &:hover {
    &::before {
      border-radius: 0em;
      width: 120%;
      height: 120%;
    }
  }
}

form {
  input {
    background: transparent;
    color: var(--color-light);
    font-size: 16px;
    background-color: transparent;
    font-family: var(--font-1);
    border: none;
    outline: none;
    border-bottom: 1px solid currentColor;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-in-out;
    padding: 5px 0;
    -webkit-appearance: none;
    border-radius: 0;
    &::placeholder {
      opacity: 1;
    }
  }

  button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0.65rem 1rem !important;
  }
  > p {
    text-align: left;
    margin-bottom: 5px;
  }

  .row {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
    label {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0.7rem 2rem;
      color: var(--color-light);

      @media screen and (max-width: $breakpoint-mobile) {
        padding: 0.5rem 1rem;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
      span {
        position: relative;
        z-index: 1;

        &.text {
          position: relative;
          z-index: 2;
          transition: color var(--transition-duration-ease-in-out);
        }
        &.bg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          border-radius: 20px;
          border: 1px solid var(--color-light);
          transition: border-radius var(--transition-duration-ease-in-out),
            background-color var(--transition-duration-ease-in-out);
        }
      }
      input[type="radio"] {
        display: none;

        &:checked + .text {
          color: var(--color-dark);
        }

        &:checked + span + .bg {
          background-color: var(--color-light);
          border-radius: 0px;
        }
      }

      &.active {
        background-color: var(--color-light);
      }
    }
  }
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  td {
    padding: 10px;
    border: 1px solid currentColor;
    text-align: center;
  }
}
.no-overflow {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.scroll {
  &__image {
    &--zoom,
    &--parallax {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &--full {
      width: 100%;
      height: 100svh;
      padding-top: $nav-height;
      display: grid;
      grid-template-areas: "a";
      color: var(--color-light);

      &-item {
        position: relative;
        grid-area: a;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;

        &:not(:first-child) {
          clip-path: inset(100% 0% 0% 0%);
          z-index: 2;
        }

        &-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 140%;
          object-fit: cover;
        }

        &-content {
          position: relative;
          max-width: 50%;
          text-wrap: balance;
          margin: 0 auto;
          padding-bottom: $nav-height;
        }

        .marquee {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
  }
}

.marquee {
  overflow: hidden;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    &:after {
      content: "◆";
      font-size: 0.2em;
      margin: 0 1em;
    }
  }
}
