.navigation {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo links button";
  width: 100%;
  max-width: 1920px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  z-index: 101;
  text-transform: uppercase;
  color: var(--color-light);
  font-size: 14px;
  transition: background-color var(--transition-duration-ease-in-out),
    color var(--transition-duration-ease-in-out);

  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-areas:
      "logo button toggle"
      "links links links";
    grid-template-columns: 1fr max-content max-content;
    padding: 0.5rem 1rem;
  }

  &__logo {
    grid-area: logo;
    margin-right: auto;

    svg {
      width: 108px;
      height: auto;
    }
  }
  &__links {
    grid-area: links;
    justify-self: center;
    display: flex;
    align-items: center;
    list-style: none;
    align-items: center;
    gap: 2rem;
    align-self: center;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      pointer-events: none;
      transition: max-height var(--transition-duration-ease-in-out);
      max-height: 0;
      overflow: hidden;
      body.init__nav & {
        pointer-events: initial;
        max-height: 500px;
      }
    }

    li {
      &:nth-child(1) {
        @media screen and (max-width: $breakpoint-mobile) {
          margin-top: 2rem;
        }
      }
      &:last-child {
        @media screen and (max-width: $breakpoint-mobile) {
          margin-bottom: 1rem;
        }
      }
      a {
        transition: color var(--transition-duration-ease-in-out);
        @media screen and (max-width: $breakpoint-mobile) {
          display: block;

          font-size: var(--font-size-3);
          font-weight: 700;
          line-height: 1.1;
          text-transform: uppercase;
          letter-spacing: 0.3em;
        }
      }

      &.active,
      &:hover {
        a {
          color: var(--color-4);
        }
      }
    }
  }

  &__button {
    grid-area: button;
    justify-self: end;
    align-self: center;
  }
  &__toggle {
    grid-area: toggle;
    display: none;

    @media screen and (max-width: $breakpoint-mobile) {
      display: flex;
      width: 35px;
      height: 35px;
      padding: 7px;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      cursor: pointer;

      .line {
        width: 100%;
        height: 1px;
        background: currentColor;

        body.init__nav & {
          background: var(--color-light);
        }
        &:nth-child(2) {
          margin: 4px 0;
          position: relative;
          &:before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: rotate(0);
            background: currentColor;
          }

          &::before {
            body.init__nav & {
              transform: rotate(45deg);
            }
          }

          &::after {
            body.init__nav & {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  body.faq & {
    color: var(--color-dark);
  }

  &.scrolled,
  body.init__nav &,
  body.has-dark-logo & {
    background: var(--color-light);
    color: var(--color-dark);
  }
}
