section {
  padding: var(--spacer) 0;
}

.hero {
  position: relative;
  height: 110svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-light);
  background-color: var(--color-3);
  overflow: hidden;
  padding: $nav-height 0 0;

  @media screen and (max-width: $breakpoint-mobile) {
    height: 1100px;
  }

  &__image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &--1 {
      top: 0.5rem;
      left: 0.5rem;
      width: 23%;
      transform-origin: top left;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 35%;
      }
    }
    &--2 {
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      transform-origin: right center;
      width: 23%;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 35%;
        top: 25%;
      }
    }
    &--3 {
      bottom: 0;
      left: 0;
      transform: scale(0.3);
      transform-origin: bottom center;
      width: 100%;
      height: 100%;
      @media screen and (max-width: $breakpoint-mobile) {
        transform: scale(0.35);
      }
      .overlay {
        opacity: 0;
      }
      img {
        transform: scale(1.7);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    position: relative;
    display: grid;
    text-align: center;
    grid-template-areas:
      "titles"
      "sub-title"
      "description"
      "button"
      "disclaimer";

    margin: auto;
    width: 80%;
  }

  &__pre-title {
    grid-area: pre-title;
  }

  &__titles {
    grid-area: titles;
    display: grid;
    grid-template-areas: a;
  }

  &__title {
    grid-area: a;
    // background-color: var(--color-3);
    &:not(:first-child) {
      clip-path: inset(100% 0% 0% 0%);
    }
  }

  &__sub-title {
    grid-area: sub-title;
    margin-bottom: 0.5rem;
  }

  &__description {
    grid-area: description;
    margin-bottom: 2rem;
  }

  &__button {
    grid-area: button;
    justify-self: center;
  }
  &__disclaimer {
    grid-area: disclaimer;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
    p {
      padding: 1rem;
      text-wrap: balance;
      &:nth-child(2) {
        border-left: 1px solid var(--color-light);
        border-right: 1px solid var(--color-light);

        @media screen and (max-width: $breakpoint-mobile) {
          border-left: none;
          border-right: none;
          border-top: 1px solid var(--color-light);
          border-bottom: 1px solid var(--color-light);
        }
      }
    }
  }
  &__footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-light);
    z-index: 1;
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
    &-item {
      align-self: center;
      justify-self: center;
      padding: 2rem;
      border-top: 1px solid var(--color-dark);
      border-bottom: 1px solid var(--color-dark);
      text-align: center;
      color: var(--color-dark);
      width: 100%;
      &:nth-child(1) {
        border-right: 1px solid var(--color-dark);
      }
      @media screen and (max-width: $breakpoint-mobile) {
        border-right: none;
        border-top: none;
      }
    }
  }
}

.introduction {
  padding-top: 0;
  padding-bottom: 0;

  &__container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gutter-sm) var(--gutter-lg);
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    padding: 0 var(--gutter) var(--gutter);
    text-align: center;
    text-wrap: balance;
    align-self: center;
    max-width: 760px;
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-mobile) {
      padding: var(--spacer) var(--gutter);
    }
    p {
      margin: 1rem 0;
    }
  }

  &__images {
    display: grid;
    grid-template-areas: a;
    justify-self: end;
    width: 80%;
    @media screen and (max-width: $breakpoint-mobile) {
      order: -1;
      width: 100%;
    }
    > div {
      grid-area: a;
    }
  }

  &__image {
    position: relative;
    &--1 {
      width: 100%;
    }

    &--2 {
      width: 70%;
      transform: translateX(-50%);
      @media screen and (max-width: $breakpoint-mobile) {
        transform: unset;
        margin: 0 auto;
      }
    }

    &--3 {
      width: 100%;
      margin-top: -15%;
      align-self: start;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
        margin-top: 0;
      }
    }

    &--4 {
      width: 100%;
      // margin-top: var(--spacer-lg);
      @media screen and (max-width: $breakpoint-mobile) {
        width: 75%;
        margin-top: 2rem;
        margin-left: auto;
      }
    }

    img {
      width: 100%;
    }
  }
}

.residences {
  padding-bottom: 0;
  &__heading {
    text-align: center;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__text {
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 12px;
    }
  }
}

.amenities {
  &__heading {
    text-align: center;
  }
  &__text {
    text-align: center;
    padding: 0 var(--gutter) 2rem;
    max-width: 900px;
    margin: auto;
    text-wrap: balance;
  }

  &__pin {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slider {
    // min-height: 100svh;
    padding: $nav-height 0;
    margin: 0 auto;
  }

  &__slide {
    &-text {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 1em;
      margin: auto;
      display: block;

      &.--left {
        left: 0;
        transform: scale(2.22) translate(-10%, -200%);
        transform-origin: left center;
        @media screen and (max-width: $breakpoint-mobile) {
          transform: scale(1.25) translate(-10%, -200%);
        }
      }
      &.--right {
        right: 0;
        transform: scale(2.22) translate(10%, 200%);
        transform-origin: right center;
        @media screen and (max-width: $breakpoint-mobile) {
          transform: scale(1.25) translate(10%, 200%);
        }
      }

      body.init__pin & {
        // opacity: 0;
      }
    }
  }

  .swiper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
    @media screen and (max-width: $breakpoint-mobile) {
      padding-bottom: 8rem;
    }

    &-wrapper {
      display: flex;
      width: 100%;
      max-height: 100%;
    }
    &-slide {
      min-width: 85%;
      transition: transform 1s ease, transform-origin 1s ease,
        opacity var(--transition-duration-ease-in-out);
      position: relative;

      @media screen and (max-width: $breakpoint-mobile) {
        min-width: 100%;
      }
      &:not(:last-child) {
        margin-right: 1rem;

        @media screen and (max-width: $breakpoint-mobile) {
          margin-right: 0;
        }
      }

      &:not(.swiper-slide-active) {
        // opacity: 0;

        // body.init__pin & {
        //   opacity: 1;
        // }
      }

      &-prev,
      &-next {
        transform: scale(0.5);
      }

      &-prev {
        transform-origin: bottom right;
      }

      &-next {
        transform-origin: top left;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 18 / 9;
        @media screen and (max-width: $breakpoint-mobile) {
          aspect-ratio: 0.7;
        }
      }
    }
    &-pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      transition: opacity var(--transition-duration-ease-in-out);
      margin: 2rem 0;
      &-bullet {
        cursor: pointer;
        transition: color var(--transition-duration-ease-in-out);

        &-active {
          color: var(--color-4);
        }
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    &-button {
      cursor: pointer;
      &-next {
        transform: scaleX(-1);
      }
    }
  }
}

.pricing {
  padding: var(--spacer) 0;
  background-color: var(--color-5);
  color: var(--color-light);
  &__pre-title {
    text-align: center;
  }
  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
  .grid {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 25% auto auto auto auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-light);
    @media screen and (max-width: $breakpoint-mobile) {
      margin-top: 2rem;
      min-width: 900px;
    }

    > *:not(.floor-plan) {
      display: flex;
      flex-direction: column;
    }
    > *:not(.floor-plan):not(:nth-child(-n + 5)) {
      border-top: 1px solid var(--color-light);
    }
    > *:not(p):not(.floor-plan) {
      padding: 2rem var(--gutter);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    > p {
      padding: 0 var(--gutter) 0.5rem 0;
      &:nth-child(-n + 2) {
        padding: 0 var(--gutter) 0.5rem;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        padding-right: 1rem;
      }
    }

    .unit {
      .fp-toggle {
        font-size: 14px;
        text-decoration: underline;
        margin-bottom: -1.5em;
        cursor: pointer;
      }
    }

    .btn-cell {
      align-items: flex-start;
      img {
        transform: rotate(180deg);
      }
    }

    .col {
      align-items: flex-start;
      padding: 2rem 0 !important;
      p {
        width: 100%;
        padding-bottom: 1rem;
        &:first-child {
          padding-top: 1rem;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
          border-bottom: 1px solid var(--color-light);
        }
      }
    }

    .floor-plan {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 6;
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s 0.2s ease-in-out;

      .container {
        opacity: 0;
        transition: opacity 0.2s 0s ease-in-out;
        padding: 0 0 2rem;
        max-width: 800px;
        margin: 0 auto;
        .fp-swiper {
          .swiper-wrapper {
            display: flex;

            .swiper-slide {
              flex-shrink: 0;

              img {
                width: 100%;
              }
            }
          }

          .arrows {
            border-top: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: 900px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto;
            .arrow {
              margin: 0;
              cursor: pointer;
              &.next {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      &.active {
        max-height: 1350px;
        transition: max-height 0.2s 0s ease-in-out;

        .container {
          opacity: 1;
          transition: opacity 0.2s 0.2s ease-in-out;
        }
      }
    }
  }

  &__charts {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: var(--gutter);
    padding: var(--spacer) var(--gutter) 0;
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
    &--content {
      margin: auto;
      text-align: center;
      text-wrap: balance;
      @media screen and (max-width: $breakpoint-mobile) {
        max-width: 100%;
      }
      ul {
        margin-top: 2rem;
        gap: 1rem;
        &.legend-items {
          @media screen and (max-width: $breakpoint-mobile) {
            margin-top: 4rem;
          }
        }
        li {
          display: flex;
          align-items: center;
        }
      }
    }

    &--title {
      margin: 0 auto 0.5rem;

      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
      }
    }

    &--text {
      margin-bottom: 1rem;
    }

    &--chart {
      ul {
        margin-bottom: 2rem;
        li {
          text-align: center;
          position: relative;
          padding: 0.5rem;
          cursor: pointer;
          transition: all 0.3s var(--ease-in-out);

          @media screen and (max-width: $breakpoint-mobile) {
            width: 50%;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            width: 0;
            background-color: var(--color-light);
            transition: all 0.3s var(--ease-in-out);
          }

          &.active {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    &--images {
      display: grid;
      grid-template-areas: a;
      img {
        grid-area: a;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        transition: opacity 0.2s ease-in-out;
        &:not(.active) {
          opacity: 0;
        }
      }
    }

    &--disclaimer {
      padding: 1rem 0 0 4.5rem;
      font-size: 12px;
      @media screen and (max-width: $breakpoint-mobile) {
        padding: 1rem 0 0 2rem;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.neighborhood {
  &__heading {
    text-align: center;
  }
  &__pin {
    &-container {
      display: grid;
      grid-template-areas: " images";
      overflow: hidden;
      width: 100%;
      grid-template-columns: 1fr;
      gap: 0 var(--gutter-lg);
      height: 100svh;
      padding: $nav-height 0 0;

      @media screen and (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        grid-template-areas: "images";
        // grid-template-rows: 55% 1fr;
      }
    }

    // &-content {
    //   width: 540px;
    //   padding-left: 35%;
    //   text-wrap: balance;
    //   grid-area: content;
    //   margin: auto;
    //   display: grid;
    //   grid-template-areas: "title" "text";
    //   text-align: center;
    //   padding-bottom: $nav-height;

    //   @media screen and (max-width: $breakpoint-mobile) {
    //     width: 100%;
    //     padding: 0 2rem;
    //   }
    //   > p {
    //     grid-area: title;
    //     align-self: end;
    //   }

    //   &-inner {
    //     grid-area: text;
    //     align-self: start;
    //     padding-top: 2rem;
    //     background-color: var(--color-light);
    //     &:not(:first-of-type) {
    //       opacity: 0;
    //     }
    //     p {
    //       &.text__size-2 {
    //         color: var(--color-4);
    //       }

    //       &.text__size-4 {
    //         margin: 1rem 0 0.5rem;
    //       }
    //     }
    //   }
    // }

    &-images {
      grid-area: images;
      width: 100%;
      display: flex;
      position: relative;
    }

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      // padding-left: 20%;
      @media screen and (max-width: $breakpoint-mobile) {
        padding-left: 0;
      }
      &:not(:first-child) {
        clip-path: inset(100% 0% 0% 0%);
        z-index: 2;
      }
      .no-overflow {
        display: flex;
        align-items: center;

        &:nth-child(1) {
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__map {
    padding-top: var(--spacer);
    overflow: hidden;
    border-top: 1px solid var(--color-dark);
  }

  &__title {
    text-align: center;
    width: 100%;
  }
}
