.template__default {
  margin: 0 auto;
  padding: var(--spacer) var(--gutter) var(--spacer-sm);

  @media screen and (max-width: $breakpoint-mobile) {
    padding-top: calc(var(--spacer-lg) * 1.5);
  }
  h3 {
    margin: 2em 0 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}

#credits {
  text-align: center;
}
#privacy {
  max-width: 1000px;
}
