:root {
  --font-1: "apertura", sans-serif;
  --font-2: "the-seasons", sans-serif;

  --color-1: #000e10;
  --color-2: #f1ece5;
  --color-3: #162c53;
  --color-4: #a13a32;
  --color-5: #1b413e;
  --color-6: #999d83;

  --color-light: var(--color-2);
  --color-dark: var(--color-1);

  --font-size-1: clamp(55px, 9.3vw, 180px);
  --font-size-2: clamp(30px, 4.68vw, 90px);
  --font-size-3: clamp(18px, 1.25vw, 24px);
  --font-size-4: clamp(18px, 1.25vw, 24px);
  --font-size-5: 14px;
  --font-size-6: 12px;

  --spacer: clamp(4rem, 8vw, 154px);
  --spacer-sm: calc(var(--spacer) / 2);
  --spacer-lg: calc(var(--spacer) * 2);

  --gutter: clamp(1rem, 6vw, 115px);
  --gutter-sm: calc(var(--gutter) / 2);
  --gutter-lg: calc(var(--gutter) * 2);

  --border-radius: 10em;
  --box-shadow: 0px 4px 12.9px 7px rgba(0, 0, 0, 0.1);

  --ease-in-out: cubic-bezier(0.7, 0, 0.3, 1);
  --transition-duration: 0.4s;
  --transition-duration-long: 0.7s;
  --transition-duration-short: 1.5s;

  --transition-duration-ease-in-out: var(--transition-duration)
    var(--ease-in-out);
}

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1080px;
$breakpoint-laptop: 1440px;
